#background {
  position: fixed;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -6px; left: -6px;
  z-index: -100;
  background-image: url(/static/background.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
  filter: blur(1px) brightness(0.3) grayscale(0.25) hue-rotate(20deg);
}
