---
url: /
layout: arisa.vto
title: lh3k's blog
arisa:
  __placeHolder: false
  includeFooter: true
---

<div class="md:px-4 md:py-20 px-2 py-2 h-full flex items-center animation-flow-up">
  <div class="arisa-article mx-auto">
    <h1>Welcome, Gypsy</h1>
    <p>趁着集训的空隙填一下博客的坑。欸，你题补了吗？算了，开摆开摆。</p>
    <div class="w-full flex justify-center items-center md:py-8 py-4">
      <img src="/static/bai3.jpg" class="md:w-30 w-20 shadow-lg"/>
    </div>
  </div>
</div>
