<!DOCTYPE html>

<html lang="{{ lang ?? "en" }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{# <link href="/style/sanitize.css" rel="stylesheet"/> #}}
    <link href="/style/prism-ghcolors.css" rel="stylesheet"/>
    <title>{{ title }}</title>
    {{ extraHead }}
  </head>
  <body>
    {{ content }}
  </body>
</html>
